[uwsgi]

plugins         = python3
chdir           = {{ install_root }}
virtualenv      = {{ install_root }}/venv
module          = periodo
callable        = app
env             = DATABASE={{ db_path }}
{% if canonical is defined and canonical == "true" %}
env             = CANONICAL=true
{% endif %}

# process-related settings
master          = true
processes       = 2
socket          = {{ www_root }}/uwsgi.sock
chown-socket    = www-data:www-data
chmod-socket    = 664

# clear environment on exit
vacuum          = true
