[uwsgi]
master = true
processes = 2
cheap = true
idle = 600
die-on-idle = true
plugins = {{ uwsgi_python3_plugin }}
chdir = {{ install_root }}
virtualenv = {{ install_root }}/venv
module = periodo
callable = app
env = DATABASE={{ db_path }}
env = CACHE={{ cache_path }}
env = SERVER_NAME={{ server_name }}
{% if canonical is defined and canonical == "true" %}
env = CANONICAL=true
{% endif %}
# clear environment on exit
vacuum = true
