[Unit]
Description=Socket for uWSGI app {{ server_name }}

[Socket]
ListenStream=/run/uwsgi/{{ server_name }}.socket
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
