server {
    listen      80 default_server;
    server_name {{ server_name }};

    location /{{ challenge_dest | dirname }}/ {
        alias {{ letsencrypt_challenges }}/{{ challenge_dest | dirname }}/;
    }
}
